@charset "UTF-8";
.article__group__item__img > a::before,
.board::before,
.label--check span.label__radio__mark::before,
.label--radio span.label__radio__mark::before,
.loader::before,
.loader__icon::after,
.loader__icon::before,
.separation--or::before,
.tab .tab__nav > ul::before,
a.btn::after,
a.btn::before,
button.btn::after,
button.btn::before,
header ul.member__list + .member__list::before,
nav.menubar--sub ul.menubar__user::before,
nav.menubar--sub2 ul.menubar__user::before {
  content: "";
  display: block;
}
.list-reset,
nav.menubar--belt ul,
nav.menubar--sub2 > .container ul,
nav.menubar--sub > .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.article__group__item__text h1 a,
.article__group__item__text h2 a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} /*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
} /*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
} /*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: 0 0;
}
a:active,
a:hover {
  outline: 0;
} /*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
} /*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
} /*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
} /*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ol,
ul {
  padding-left: 1.15em;
}
.mtb0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt0-mb1 {
  margin-top: 0 !important;
  margin-bottom: 1em !important;
}
.mt0-mb05 {
  margin-top: 0 !important;
  margin-bottom: 0.5em !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mt10-mb20 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.mt20-mb10 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
.mt20-mb0 {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.m0 {
  margin: 0;
}
.ptb0 {
  padding-top: 0;
  padding-bottom: 0;
}
.p10 {
  padding: 10px;
}
.justify-between {
  justify-content: space-between;
}
@media (min-width: 768px) {
  .flex-md {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .flex-lg {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .flex-xl {
    display: flex;
  }
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
.sr-only {
  position: absolute !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}
*,
::after,
::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}
.serif {
  font-family: "Noto Serif TC", serif;
}
a {
  text-decoration: none;
}
@media (min-width: 1024px) {
  a {
    transition: color 0.2s, background-color 0.2s;
  }
}
img {
  display: block;
}
.clearfix,
.clearfix::after,
.clearfix::before {
  display: table;
  clear: both;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bg-red-100 {
  color: #394148;
  background-color: #feebec;
}
.bg-red-200 {
  color: #394148;
  background-color: #ee969b;
}
.bg-red-300 {
  color: #fff;
  background-color: #d60c18;
}
.bg-red-400 {
  color: #fff;
  background-color: #be0b15;
}
.bg-red-500 {
  color: #fff;
  background-color: #9d0505;
}
.bg-gray-100 {
  color: #394148;
  background-color: #eee;
}
.bg-gray-200 {
  color: #394148;
  background-color: #d3d5d7;
}
.bg-gray-300 {
  color: #fff;
  background-color: #939ea7;
}
.bg-gray-400 {
  color: #fff;
  background-color: #6b7780;
}
.bg-gray-500 {
  color: #fff;
  background-color: #48545d;
}
.bg-surface {
  color: #fff;
  background-color: #003a9f;
}
.bg-primary {
  color: #fff;
  background-color: #d60c18;
}
.bg-primary-variant {
  color: #fff;
  background-color: #9d0505;
}
.bg-secondary {
  color: #fff;
  background-color: #939ea7;
}
.bg-secondary-variant {
  color: #fff;
  background-color: #48545d;
}
.bg-error {
  color: #fff;
  background-color: #9d0505;
}
.bg-background {
  color: #fff;
  background-color: #fff;
}
.red-100 {
  color: #feebec;
}
.red-200 {
  color: #ee969b;
}
.red-300 {
  color: #d60c18;
}
.red-400 {
  color: #be0b15;
}
.red-500 {
  color: #9d0505;
}
.gray-100 {
  color: #eee;
}
.gray-200 {
  color: #d3d5d7;
}
.gray-300 {
  color: #939ea7;
}
.gray-400 {
  color: #6b7780;
}
.gray-500 {
  color: #48545d;
}
h1 {
  font-weight: 500;
}
.h1,
h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.h1 .heading__icon,
h1 .heading__icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  vertical-align: middle;
}
.h1 .heading__icon--correct,
h1 .heading__icon--correct {
  color: #003a9f;
}
.h1 .heading__icon--notice,
h1 .heading__icon--notice {
  color: #d60c18;
}
.h1 .heading__icon--error,
h1 .heading__icon--error {
  color: #d60c18;
}
h2 {
  font-weight: 500;
}
.h2,
h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.h2 .heading__icon,
h2 .heading__icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  vertical-align: middle;
}
.h2 .heading__icon--correct,
h2 .heading__icon--correct {
  color: #003a9f;
}
.h2 .heading__icon--notice,
h2 .heading__icon--notice {
  color: #d60c18;
}
.h2 .heading__icon--error,
h2 .heading__icon--error {
  color: #d60c18;
}
h3 {
  font-weight: 500;
}
.h3,
h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.h3 .heading__icon,
h3 .heading__icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  vertical-align: middle;
}
.h3 .heading__icon--correct,
h3 .heading__icon--correct {
  color: #003a9f;
}
.h3 .heading__icon--notice,
h3 .heading__icon--notice {
  color: #d60c18;
}
.h3 .heading__icon--error,
h3 .heading__icon--error {
  color: #d60c18;
}
h4 {
  font-weight: 500;
}
.h4,
h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.h4 .heading__icon,
h4 .heading__icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  vertical-align: middle;
}
.h4 .heading__icon--correct,
h4 .heading__icon--correct {
  color: #003a9f;
}
.h4 .heading__icon--notice,
h4 .heading__icon--notice {
  color: #d60c18;
}
.h4 .heading__icon--error,
h4 .heading__icon--error {
  color: #d60c18;
}
h5 {
  font-weight: 500;
}
.h5,
h5 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.h5 .heading__icon,
h5 .heading__icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  vertical-align: middle;
}
.h5 .heading__icon--correct,
h5 .heading__icon--correct {
  color: #003a9f;
}
.h5 .heading__icon--notice,
h5 .heading__icon--notice {
  color: #d60c18;
}
.h5 .heading__icon--error,
h5 .heading__icon--error {
  color: #d60c18;
}
.h2,
h2 {
  color: #171717;
  font-size: 22px;
  line-height: 1.5;
  word-break: break-word;
}
.h3,
h3 {
  color: #171717;
  font-size: 18px;
  line-height: 2;
  word-break: break-word;
}
.h4,
h4 {
  color: #d60c18;
  font-size: 1rem;
  line-height: 1.2;
  word-break: break-word;
}
.h5,
h5 {
  color: #939ea7;
  font-size: 14px;
  line-height: 1;
  word-break: break-word;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
p {
  color: #171717;
  word-break: break-word;
}
p .heading__icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  vertical-align: sub;
}
p a.link-btn {
  color: #003a9f;
  text-decoration: underline;
}
p a.link-btn:hover {
  color: #d60c18;
}
.summary {
  color: #003a9f;
}
blockquote {
  color: #171717;
  font-weight: 500;
}
ul.keyword {
  margin: 1.125em 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
ul.keyword li {
  display: inline-block;
  font-size: 1.125em;
}
ul.keyword li::after {
  content: "、";
}
ul.keyword li:last-child::after {
  content: "";
}
ul.keyword li a {
  display: inline-block;
  color: #d60c18;
}
ul.keyword li a:hover {
  color: #9d0505;
}
body:not(.article__page) .h1,
body:not(.article__page) h1,
body:not(.feature__page) .h1,
body:not(.feature__page) h1 {
  color: #171717;
  font-size: 28px;
  line-height: 1.5;
}
body:not(.article__page) main p,
body:not(.feature__page) main p {
  font-size: 1rem;
  line-height: 1.6;
}
body.feature__page main p {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #333;
}
body.feature__page .h1,
body.feature__page h1 {
  color: #171717;
  font-size: 28px;
  line-height: 1.3;
}
@media (min-width: 768px) {
  body.feature__page .h1,
  body.feature__page h1 {
    font-size: 40px;
  }
}
body.feature__page .h2,
body.feature__page h2 {
  color: #171717;
  font-size: 16px;
  line-height: 1.3;
}
@media (min-width: 768px) {
  body.feature__page .h2,
  body.feature__page h2 {
    font-size: 24px;
  }
}
body.article__page .h1,
body.article__page h1 {
  color: #171717;
  font-size: 32px;
  line-height: 1.5;
}
@font-face {
  font-family: icomoon;
  src: url(../../images/feature/fonts/cw_icon.eot);
  src: url(../../images/feature/fonts/cw_icon.eot) format("embedded-opentype"),
    url(../../images/feature/fonts/cw_icon.ttf) format("truetype"),
    url(../../images/feature/fonts/cw_icon.woff) format("woff"),
    url(../../images/feature/fonts/cw_icon.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
i.icon {
  display: inline-block;
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 767px) {
  i.icon::before {
    display: inline;
    vertical-align: sub;
    line-height: 0;
  }
}
body.chrome i.icon:before {
  display: inline;
  vertical-align: middle;
  line-height: 0;
}
.icon-minus:before {
  content: "\e936";
}
.icon-plus:before {
  content: "\e937";
}
.icon-images:before {
  content: "\e900";
}
.icon-button:before {
  content: "\e901";
}
.icon-color:before {
  content: "\e902";
}
.icon-iconography:before {
  content: "\e903";
}
.icon-textfield:before {
  content: "\e904";
}
.icon-navigation:before {
  content: "\e905";
}
.icon-tabs:before {
  content: "\e906";
}
.icon-tooltips:before {
  content: "\e907";
}
.icon-typography:before {
  content: "\e908";
}
.icon-logo-text:before {
  content: "\e909";
}
.icon-phrase:before {
  content: "\e90a";
}
.icon-eyeoff:before {
  content: "\e90b";
}
.icon-eyeon:before {
  content: "\e90c";
}
.icon-check-circle:before {
  content: "\e90d";
}
.icon-exclamation-circle:before {
  content: "\e90e";
}
.icon-question-circle:before {
  content: "\e90f";
}
.icon-sort:before {
  content: "\e910";
}
.icon-caret-down:before {
  content: "\e911";
}
.icon-caret-up:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-message:before {
  content: "\e914";
}
.icon-selection:before {
  content: "\e915";
}
.icon-list:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-user-filled:before {
  content: "\e918";
}
.icon-user-outlined:before {
  content: "\e919";
}
.icon-facebook:before {
  content: "\e91a";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-line:before {
  content: "\e91c";
}
.icon-play:before {
  content: "\e91d";
}
.icon-left:before {
  content: "\e91e";
}
.icon-right:before {
  content: "\e91f";
}
.icon-down:before {
  content: "\e920";
}
.icon-rss:before {
  content: "\e921";
}
.icon-up:before {
  content: "\e922";
}
.icon-bookmark-outlined:before {
  content: "\e923";
}
.icon-share:before {
  content: "\e924";
}
.icon-mail:before {
  content: "\e925";
}
.icon-edit:before {
  content: "\e926";
}
.icon-caret-right:before {
  content: "\e927";
}
.icon-caret-left:before {
  content: "\e928";
}
.icon-check:before {
  content: "\e929";
}
.icon-check-solid:before {
  content: "\e92a";
}
.icon-copy:before {
  content: "\e92b";
}
.icon-quote-left:before {
  content: "\e92c";
}
.icon-quote-right:before {
  content: "\e92d";
}
.icon-cancel:before {
  content: "\e92e";
}
.icon-coin:before {
  content: "\e92f";
}
.icon-fontsize:before {
  content: "\e930";
}
.icon-logo:before {
  content: "\e931";
}
.icon-bookmark-filled:before {
  content: "\e932";
}
.icon-arrow-right:before {
  content: "\e933";
}
.icon-arrow-left:before {
  content: "\e934";
}
.icon-error-solid:before {
  content: "\e935";
}
.icon-exclamation-solid:before {
  content: "\e938";
}
.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
.hamburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 10px;
}
.hamburger span:nth-child(3) {
  top: 20px;
}
.hamburger.active span,
.hamburger:hover span {
  background-color: #4ec6e6;
}
.icon-btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  font-size: 1.125rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-btn-center {
  justify-content: center;
}
@media (min-width: 768px) {
  .icon-btn {
    width: 44px;
    height: 44px;
  }
}
@media (min-width: 1024px) {
  .icon-btn {
    transition: color 0.3s, background-color 0.3s;
  }
}
button.icon-btn {
  width: 44px;
  height: 44px;
  border: 0;
}
.normal-status.active,
.normal-status:hover {
  color: #d60c18;
}
.navi-btn {
  width: 34px;
  height: 44px;
  color: #fff;
  background-color: rgba(115, 115, 140, 0.38);
}
/* 0713修改 */
.navi-btn.active,
.navi-btn:hover {
  background-color: #280769;
  color: #fff;
}
button.share-btn {
  display: flex;
  width: 80px;
  padding: 0;
  color: #fff;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  border: 0;
}
@media (min-width: 768px) {
  button.share-btn {
    width: 100px;
    padding-top: 2px;
    line-height: 42px;
  }
}
button.share-btn > * {
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  button.share-btn > * {
    font-size: 1.125rem !important;
  }
}
button.share-btn span {
  margin-left: 5px;
}
button.share-btn-copy {
  background-color: #6b7780;
}
button.share-btn-copy.active,
button.share-btn-copy:hover {
  background-color: #48545d;
}
a.sns {
  display: block;
  color: #939ea7;
}
a.sns-facebook.active,
a.sns-facebook:hover {
  color: #1877f2;
}
a.sns-instagram.active,
a.sns-instagram:hover {
  color: transparent !important;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top left, #b900b4 0, #f50000 100%);
  background-image: -o-linear-gradient(top left, #b900b4 0, #f50000 100%);
  background-image: linear-gradient(to bottom right, #b900b4 0, #f50000 100%);
}
a.sns-instagram.active i::before,
a.sns-instagram:hover i::before {
  color: transparent !important;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top left, #b900b4 0, #f50000 100%);
  background-image: -o-linear-gradient(top left, #b900b4 0, #f50000 100%);
  background-image: linear-gradient(to bottom right, #b900b4 0, #f50000 100%);
}
a.sns-line.active,
a.sns-line:hover {
  color: #00c200;
}
a.sns-rss.active,
a.sns-rss:hover {
  color: #ff5700;
}
a.share-btn {
  display: flex;
  width: 80px;
  color: #fff;
  line-height: 40px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  a.share-btn {
    width: 100px;
    padding-top: 2px;
    line-height: 42px;
  }
}
a.share-btn > * {
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  a.share-btn > * {
    font-size: 1.125rem !important;
  }
}
a.share-btn i.active,
a.share-btn i:hover {
  color: #fff;
}
a.share-btn span {
  margin-left: 5px;
}
a.share-btn-facebook {
  background-color: #1877f2;
}
a.share-btn-facebook.active,
a.share-btn-facebook:hover {
  background-color: #0d6ae4;
}
a.share-btn-line {
  background-color: #00c200;
}
a.share-btn-line.active,
a.share-btn-line:hover {
  background-color: #00a900;
}
a.share-btn-mail {
  background-color: #003a9f;
}
a.share-btn-mail.active,
a.share-btn-mail:hover {
  background-color: #003186;
}
a.bookmark-btn {
  display: flex;
  width: 40px;
  height: 40px;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #d60c18;
}
a.bookmark-btn > i {
  font-size: 1.125rem !important;
}
a.bookmark-btn i.active,
a.bookmark-btn i:hover {
  color: #fff;
}
@media (min-width: 768px) {
  a.bookmark-btn {
    width: 44px;
    height: 44px;
  }
}
.social_login {
  width: 100%;
  font-size: 1em;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social_login i.icon {
  font-size: 1.5em;
}
.social_login--facebook {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1877f2;
}
.social_login--facebook i.icon {
  margin-right: 0.375em;
}
.social_login--facebook:hover {
  background-color: #0d6ae4;
}
nav a {
  display: block;
}
nav.menubar--left {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  max-height: 100vh;
  font-size: 1rem;
  border: 1px solid #d3d5d7;
  background-color: #fff;
  overflow: scroll;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 12;
}
@media (min-width: 1024px) {
  nav.menubar--left {
    overflow: hidden scroll;
  }
}
nav.menubar--left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav.menubar--left ul li {
  line-height: 1;
}
nav.menubar--left ul li .li__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav.menubar--left ul li .li__group a {
  color: #171717;
}
nav.menubar--left ul li .li__group:hover a,
nav.menubar--left ul li .li__group:hover i {
  color: #d60c18;
}
nav.menubar--left ul li .li__group a.sns-facebook:hover > i,
nav.menubar--left ul li .li__group a.sns-facebook:hover > span {
  color: #1877f2;
}
nav.menubar--left ul li .li__group a.sns-line:hover > i,
nav.menubar--left ul li .li__group a.sns-line:hover > span {
  color: #00c200;
}
nav.menubar--left ul li.now {
  background-color: #d60c18;
}
nav.menubar--left ul li.now > .li__group > a,
nav.menubar--left ul li.now > .li__group > i {
  color: #fff;
}
nav.menubar--left > ul + ul {
  border-top: 1px solid #d3d5d7;
}
nav.menubar--left > ul > li .li__group {
  position: relative;
}
nav.menubar--left > ul > li .li__group > a {
  display: flex;
  width: 100%;
  padding: 17px 25px;
  align-items: center;
}
nav.menubar--left > ul > li .li__group > a.sns i + span {
  margin-left: 5px;
}
nav.menubar--left > ul > li .li__group > i.more {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 25px;
  font-weight: 700;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav.menubar--left > ul > li .li__group > i.more.active {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
nav.menubar--left > ul > li > ul {
  display: none;
  background-color: #eee;
}
nav.menubar--left > ul > li > ul > li .li__group > a {
  padding: 17px 50px;
}
nav.menubar--left.opened {
  left: 0;
}
nav.menubar--sub {
  position: relative;
  font-size: 14px;
  z-index: 10;
}
@media (min-width: 1024px) {
  nav.menubar--sub {
    background-color: #6b7780;
    -moz-transition: background-color, 0.3s;
    -o-transition: background-color, 0.3s;
    -webkit-transition: background-color, 0.3s;
    transition: background-color, 0.3s;
  }
  nav.menubar--sub:hover {
    background-color: #939ea7;
  }
}
@media (max-width: 1023px) {
  nav.menubar--sub {
    position: absolute;
    top: 50%;
    right: 10px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
nav.menubar--sub > .container {
  justify-content: flex-end;
}
nav.menubar--sub > .container ul {
  position: relative;
}
nav.menubar--sub > .container > ul {
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  nav.menubar--sub > .container > ul:first-child {
    display: none;
  }
}
nav.menubar--sub > .container > ul > li {
  margin-left: 16px;
}
nav.menubar--sub > .container > ul > li > a {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #171717;
  line-height: 1rem;
  align-items: center;
}
@media (min-width: 1024px) {
  nav.menubar--sub > .container > ul > li > a {
    color: #fff;
  }
}
nav.menubar--sub > .container > ul > li > a i {
  margin-left: 7px;
  height: 0.875em;
  font-weight: 700;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
nav.menubar--sub > .container > ul > li > a i.deg {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
nav.menubar--sub > .container > ul > li > a:hover {
  color: #171717;
}
nav.menubar--sub ul.menubar__user {
  margin-left: 16px;
}
nav.menubar--sub ul.menubar__user::before {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #fff;
}
@media (min-width: 1024px) {
  nav.menubar--sub ul.menubar__user::before {
    width: 1px;
    height: 1rem;
  }
}
nav.menubar--sub ul.menubar__user > li {
  position: relative;
}
nav.menubar--sub ul.menubar__user > li .menubar__user__slide {
  display: none;
  position: absolute;
  left: -10px;
  min-width: calc(100% + 20px);
  width: 100%;
}
nav.menubar--sub ul.menubar__user > li .menubar__user__slide ul {
  background-color: #fff;
  border: 1px solid #d3d5d7;
}
nav.menubar--sub ul.menubar__user > li .menubar__user__slide ul li a {
  padding: 15px 20px;
  color: #171717;
}
nav.menubar--sub ul.menubar__user > li .menubar__user__slide ul li a:hover {
  color: #d60c18;
}
nav.menubar--sub ul.menubar__user > li .menubar__user__slide ul li.hr {
  height: 1px;
  background-color: #d3d5d7;
}
nav.menubar--sub2 {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 14px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}
nav.menubar--sub2 > .container {
  width: auto;
  justify-content: flex-end;
}
nav.menubar--sub2 > .container ul {
  position: relative;
}
nav.menubar--sub2 > .container > ul:not(.sns__group) {
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  nav.menubar--sub2 > .container > ul:not(.sns__group):first-child {
    display: none;
  }
}
nav.menubar--sub2 > .container > ul:not(.sns__group) > li {
  margin-left: 16px;
}
nav.menubar--sub2 > .container > ul:not(.sns__group) > li > a {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  line-height: 1rem;
  align-items: center;
}
nav.menubar--sub2 > .container > ul:not(.sns__group) > li > a i {
  margin-left: 7px;
  height: 0.875em;
  font-weight: 700;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
nav.menubar--sub2 > .container > ul:not(.sns__group) > li > a i.deg {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
nav.menubar--sub2 > .container > ul:not(.sns__group) > li > a:hover {
  color: #4ec6e6;
}
nav.menubar--sub2 ul.menubar__user {
  margin-left: 16px;
}
nav.menubar--sub2 ul.menubar__user::before {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #fff;
}
@media (min-width: 1024px) {
  nav.menubar--sub2 ul.menubar__user::before {
    width: 1px;
    height: 1rem;
  }
}
nav.menubar--sub2 ul.menubar__user > li {
  position: relative;
}
nav.menubar--sub2 ul.menubar__user > li .menubar__user__slide {
  display: none;
  position: absolute;
  left: -10px;
  min-width: calc(100% + 20px);
  width: 100%;
}
nav.menubar--sub2 ul.menubar__user > li .menubar__user__slide ul {
  background-color: #fff;
  border: 1px solid #d3d5d7;
}
nav.menubar--sub2 ul.menubar__user > li .menubar__user__slide ul li a {
  padding: 15px 20px;
  color: #171717;
}
nav.menubar--sub2 ul.menubar__user > li .menubar__user__slide ul li a:hover {
  color: #d60c18;
}
nav.menubar--sub2 ul.menubar__user > li .menubar__user__slide ul li.hr {
  height: 1px;
  background-color: #d3d5d7;
}
nav.menubar--belt ul {
  display: none;
}
nav.menubar--belt ul li {
  position: relative;
  height: 54px;
  text-align: center;
}
nav.menubar--belt ul li a {
  display: block;
  padding: 18px 10px;
  line-height: 1rem;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
nav.menubar--belt > ul {
  display: flex;
}
nav.menubar--belt > ul > li {
  min-width: 120px;
}
nav.menubar--belt > ul > li > a {
  color: #171717;
}
nav.menubar--belt > ul > li.active > a,
nav.menubar--belt > ul > li:hover > a {
  color: #d60c18;
}
nav.menubar--belt > ul > li.active > ul,
nav.menubar--belt > ul > li:hover > ul {
  display: block;
}
nav.menubar--belt > ul > li > ul {
  position: absolute;
  top: 100%;
  left: -15px;
  width: calc(100% + 30px);
  background-color: #fff;
  z-index: 9;
}
nav.menubar--belt > ul > li > ul > li a {
  color: #171717;
  border: solid #d3d5d7;
}
nav.menubar--belt > ul > li > ul > li a.active,
nav.menubar--belt > ul > li > ul > li a:hover {
  color: #fff;
  background-color: #d60c18;
  border-color: #d60c18;
}
nav.menubar--belt > ul > li > ul > li > a {
  border-width: 0 1px;
}
nav.menubar--belt > ul > li > ul > li:first-child > a {
  border-width: 1px 1px 0;
}
nav.menubar--belt > ul > li > ul > li:last-child > a {
  border-width: 0 1px 1px;
}
nav.menubar--belt > ul > li > ul > li > ul {
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
  width: 100%;
  background-color: #fff;
}
nav.menubar--belt > ul > li > ul > li > ul > li > a {
  border-width: 0 1px;
}
nav.menubar--belt > ul > li > ul > li > ul > li:first-child > a {
  border-width: 1px 1px 0;
}
nav.menubar--belt > ul > li > ul > li > ul > li:last-child > a {
  border-width: 0 1px 1px;
}
nav.menubar--belt > ul > li > ul > li.active > ul,
nav.menubar--belt > ul > li > ul > li:hover > ul {
  display: block;
}
nav.menubar--belt--third ul li {
  text-align: left;
}
nav.menubar--belt--third ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.menubar--belt--third > ul > li > ul {
  left: 0;
}
.black,
.opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.black.opened,
.opacity.opened {
  width: 100%;
  height: 100%;
}
.black {
  background-color: rgba(23, 23, 23, 0.4);
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 11;
}
.black.opened {
  opacity: 1;
}
.article-page nav.menubar--sub {
  position: absolute;
  top: 50%;
  background-color: transparent;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .article-page nav.menubar--sub {
    right: 0;
  }
}
.article-page nav.menubar--sub > .container {
  width: auto;
}
.article-page nav.menubar--sub > .container > ul > li > a {
  color: #171717;
}
.article-page nav.menubar--sub ul.menubar__user::before {
  background-color: #171717;
}
input,
select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input::-ms-expand,
select::-ms-expand {
  display: none;
}
input:focus,
select:focus {
  outline: 0;
}
input[type*="number"]::-webkit-inner-spin-button,
input[type*="number"]::-webkit-outer-spin-button {
  opacity: 0;
}
form.form {
  font-size: 0;
}
form .form__group {
  position: relative;
  max-width: 290px;
}
form .form__group > * {
  display: block;
}
form .form__group .label {
  position: relative;
  display: block;
}
form .form__group .form__group__placeholder {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #939ea7;
  font-size: 14px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
form .form__group .form__group__input {
  min-width: 144px;
  width: 100%;
  color: #003a9f;
  font-size: 1rem;
  -moz-text-fill-color: #171717;
  -ms-text-fill-color: #171717;
  -webkit-text-fill-color: #171717;
  text-fill-color: #171717;
  border-style: solid;
  border-color: #939ea7;
}
form .form__group .form__group__input:focus {
  border-color: #003a9f;
}
form .form__group--filled .form__group__input {
  padding: 1.5rem 1rem 0.4rem;
  background-color: #eee;
  border-width: 0 0 1px;
}
form
  .form__group--filled.form__group--correct.hasValue
  .form__group__placeholder,
form .form__group--filled.form__group--correct:hover .form__group__placeholder {
  color: #003a9f;
}
form .form__group--filled.form__group--correct.hasValue .form__group__input,
form .form__group--filled.form__group--correct:hover .form__group__input {
  border-color: #003a9f;
}
form .form__group--filled.form__group--error .form__group__input {
  color: #d60c18;
}
form .form__group--filled.form__group--error.hasValue .form__group__placeholder,
form .form__group--filled.form__group--error:hover .form__group__placeholder {
  color: #d60c18;
}
form .form__group--filled.form__group--error.hasValue .form__group__input,
form .form__group--filled.form__group--error:hover .form__group__input {
  border-color: #d60c18;
}
form .form__group--filled.form__group--hasicon .form__group__input {
  padding: 1.5rem 3rem 0.4rem 1rem;
}
form .form__group--filled.form__group--hasicon i.icon {
  top: 1.5rem;
}
form
  .form__group--filled
  .form__group--defalt.hasValue
  .form__group__placeholder,
form .form__group--filled .form__group--defalt:hover .form__group__placeholder {
  top: 0.2em;
  font-size: 12px;
}
form .form__group--outlined .form__group__input {
  padding: 1.1rem 1rem 0.7rem;
  background-color: transparent;
  border-width: 1px;
}
form
  .form__group--outlined
  .form__group--defalt.hasValue
  .form__group__placeholder,
form
  .form__group--outlined
  .form__group--defalt:hover
  .form__group__placeholder {
  top: -0.8em;
  padding: 0 2px;
  font-size: 12px;
  background-color: #fff;
}
form
  .form__group--outlined
  .form__group--correct.hasValue
  .form__group__placeholder,
form
  .form__group--outlined
  .form__group--correct:hover
  .form__group__placeholder {
  color: #003a9f;
}
form .form__group--outlined .form__group--correct.hasValue .form__group__input,
form .form__group--outlined .form__group--correct:hover .form__group__input {
  border-color: #003a9f;
}
form .form__group--outlined .form__group--hasicon .form__group__input {
  padding: 1.1rem 3rem 0.7rem 1rem;
}
form .form__group--defalt:hover .form__group__placeholder {
  color: #003a9f;
}
form .form__group--hasicon i.icon {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  font-size: 1rem;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
form .form__group--correct .form__group__help--highlight,
form .form__group--correct .form__group__placeholder,
form .form__group--correct .icon {
  color: #003a9f !important;
}
form .form__group--correct .form__group__placeholder,
form .form__group--correct .icon {
  color: #003a9f;
}
form .form__group--correct .form__group__input {
  border-color: #003a9f;
}
form .form__group--error .form__group__help--highlight,
form .form__group--error .form__group__placeholder,
form .form__group--error .icon {
  color: #d60c18 !important;
}
form .form__group--error .form__group__input {
  color: #d60c18;
  border-color: #d60c18 !important;
}
form .form__group--error .select__group::before {
  color: #d60c18;
}
form .form__group--undone .form__group__placeholder {
  color: #d60c18;
}
form .form__group--undone .form__group__input {
  border-color: #d60c18;
}
form .form__group--undone .hasValue .form__group__placeholder,
form .form__group--undone:hover .form__group__placeholder {
  color: #003a9f;
}
form .form__group--undone .hasValue .form__group__input,
form .form__group--undone:hover .form__group__input {
  border-color: #003a9f;
}
form .form__group--disabled > * {
  cursor: not-allowed;
}
form .form__group--disabled .form__group__placeholder {
  color: #d3d5d7;
}
form .form__group--disabled .form__group__input {
  background-color: #eee;
  border-color: #eee;
}
form .form__group__help {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5px;
  color: #939ea7;
  font-size: 12px;
  font-style: normal;
  line-height: 1;
}
form .form__group__help--strong {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #48545d;
  font-size: 14px;
}
form .form__group__help + .form__group__help {
  margin-top: -10px;
}
form .select__group {
  position: relative;
  display: table;
  font-size: 1rem;
}
form .select__group + .select__group {
  margin-left: 1rem;
}
form .select__group select {
  min-width: 140px;
  padding: 1rem 2rem 1rem 1rem;
  line-height: 1;
  border: 1px solid;
  cursor: pointer;
  -moz-background-size: 0.78125rem;
  -o-background-size: 0.78125rem;
  -webkit-background-size: 0.78125rem;
  background-size: 0.78125rem;
  background-position: calc(100% - 0.78125rem) center;
  background-repeat: no-repeat;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  form .select__group select {
    height: 50px;
    background-size: 28px;
    background-position: calc(100% - 3.5px) center;
  }
}
form .select__group--defalt.select__group--filled select {
  background-color: #eee;
  background-image: url(../../images/feature/common/down.svg);
  border-color: #eee;
}
form .select__group--defalt.select__group--filled:hover select {
  color: #fff;
  background-color: #003a9f;
  background-image: url(../../images/feature/common/down--white.svg);
}
form .select__group--defalt.select__group--outlined select {
  background-color: #fff;
  background-image: url(../../images/feature/common/down.svg);
  border-color: #939ea7;
}
form .select__group--defalt.select__group--outlined:hover select {
  color: #003a9f;
  background-image: url(../../images/feature/common/down--surface.svg);
}
form .select__group--undone.select__group--filled select {
  color: #d60c18;
  background-color: #eee;
  background-image: url(../../images/feature/common/down--primary.svg);
  border-color: #eee;
}
form .select__group--undone.select__group--filled:hover select {
  color: #fff;
  background-color: #003a9f;
  background-image: url(../../images/feature/common/down--white.svg);
}
form .select__group--undone.select__group--outlined select {
  color: #d60c18;
  background-color: #fff;
  background-image: url(../../images/feature/common/down--primary.svg);
  border-color: #d60c18;
}
form .select__group--undone.select__group--outlined:hover select {
  color: #003a9f;
  border-color: #003a9f;
  background-image: url(../../images/feature/common/down--surface.svg);
}
form .select__group--disabled {
  cursor: not-allowed;
}
form .select__group--disabled select {
  color: #d3d5d7;
  background-color: #eee;
  background-image: url(../../images/feature/common/down--disable.svg) !important;
  border-color: #eee;
  cursor: not-allowed;
}
a,
button {
  background-color: transparent;
  align-self: baseline;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a:focus,
button:focus {
  outline: 0;
}
a.btn,
button.btn {
  position: relative;
  display: inline-block;
  min-width: 120px;
  padding: 0.6875em 1em;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  word-break: keep-all;
  overflow: hidden;
}
@media (min-width: 375px) {
  a.btn,
  button.btn {
    min-width: 135px;
  }
}
@media (min-width: 768px) {
  a.btn,
  button.btn {
    min-width: 144px;
    padding: 0.8125em 1em;
  }
}
a.btn + a.btn,
a.btn + button.btn,
button.btn + a.btn,
button.btn + button.btn {
  margin-left: 0.5rem;
}
@media (min-width: 768px) {
  a.btn + a.btn,
  a.btn + button.btn,
  button.btn + a.btn,
  button.btn + button.btn {
    margin-left: 1rem;
  }
}
a.btn::after,
a.btn::before,
button.btn::after,
button.btn::before {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
a.btn::before,
button.btn::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a.btn::after,
button.btn::after {
  left: 50%;
  top: 50%;
  padding: 55%;
  width: 32px;
  height: 32px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-transition: opacity 2s, -moz-transform 0.5s;
  -o-transition: opacity 2s, -o-transform 0.5s;
  -webkit-transition: opacity 2s, -webkit-transform 0.5s;
  transition: opacity 2s, transform 0.5s;
}
a.btn:hover::before,
button.btn:hover::before {
  opacity: 0.04;
}
a.btn:hover:focus::before,
button.btn:hover:focus::before {
  opacity: 0.16;
}
a.btn:focus::before,
button.btn:focus::before {
  opacity: 0.12;
}
a.btn:active::after,
button.btn:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}
a.btn--text,
button.btn--text {
  display: inline-block;
  color: #3c00b4;
  text-decoration: underline;
}
a.btn--text:hover,
button.btn--text:hover {
  color: #fff;
  background-color: #3c00b4;
}
a.btn--outlined,
button.btn--outlined {
  color: #3c00b4;
  background-color: #fff;
  border: 1px solid #3c00b4;
  z-index: 1;
}
a.btn--outlined::-moz-focus-inner,
button.btn--outlined::-moz-focus-inner {
  border: none;
}
a.btn--outlined:hover,
button.btn--outlined:hover {
  color: #fff;
  background-color: #3c00b4;
}
a.btn--outlined::before,
button.btn--outlined::before {
  background-color: #feebec;
}
a.btn--outlined::after,
button.btn--outlined::after {
  background-color: #feebec;
}
a.btn--contained,
button.btn--contained {
  color: #fff;
  background-color: #003a9f;
  border: 1px solid #003a9f;
  z-index: 1;
}
a.btn--contained::-moz-focus-inner,
button.btn--contained::-moz-focus-inner {
  border: none;
}
a.btn--contained:hover,
button.btn--contained:hover {
  background-color: #9d0505;
  border-color: #9d0505;
}
a.btn--contained::before,
button.btn--contained::before {
  background-color: #d60c18;
}
a.btn--contained::after,
button.btn--contained::after {
  background-color: #d60c18;
}
a.btn--100,
button.btn--100 {
  width: 100%;
}
a.btn[disabled],
button.btn[disabled] {
  color: #d3d5d7;
  background: #eee;
  border: 1px solid #eee;
  cursor: not-allowed;
}
a.btn[disabled]::before,
button.btn[disabled]::before {
  opacity: 0;
}
a.btn[disabled]::after,
button.btn[disabled]::after {
  opacity: 0;
}
a.btn[disabled]:hover,
button.btn[disabled]:hover {
  color: #d3d5d7;
  background: #eee;
  border: 1px solid #eee;
}
a.btn[disabled].btn--animate,
button.btn[disabled].btn--animate {
  color: #48545d;
}
.tooltips {
  position: relative;
}
.tooltips:before {
  content: attr(data-tooltips);
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 6px 8px;
  margin-top: 10px;
  max-width: 200px;
  color: #fff;
  font-size: 14px;
  line-height: 1.45;
  background: #48545d;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-2px);
  -ms-transform: translateX(-50%) translateY(-2px);
  -webkit-transform: translateX(-50%) translateY(-2px);
  transform: translateX(-50%) translateY(-2px);
  -moz-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -moz-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -o-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  z-index: 2;
}
.tooltips-wrap:before {
  width: 200px;
  white-space: normal;
}
@media (min-width: 768px) {
  .tooltips:hover:before {
    display: block;
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}
.tooltips.active:before {
  display: block;
  visibility: visible;
  opacity: 1;
  -moz-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}
.tab {
  position: relative;
}
.tab--hide {
  display: none;
}
.tab .tab__nav {
  position: relative;
  border: solid #d3d5d7;
  border-width: 1px;
}
@media (max-width: 767px) {
  .tab .tab__nav {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.tab .tab__nav > ul {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .tab .tab__nav > ul {
    margin: 0 0 -1px;
  }
}
.tab .tab__nav > ul::before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d3d5d7;
}
@media (min-width: 768px) {
  .tab .tab__nav > ul::before {
    bottom: 0;
  }
}
.tab .tab__nav > ul li {
  position: relative;
  display: flex;
  min-width: 110px;
  padding: 5px;
  line-height: 2.6rem;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.tab .tab__nav > ul li:hover {
  color: #d60c18;
}
.tab .tab__nav > ul li:active {
  color: #9d0505;
}
.tab .tab__nav > ul li.active {
  color: #d60c18;
  border-color: #d60c18;
}
.tab .tab__nav__next {
  display: none;
  width: 60px;
  padding-left: 10px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.tab .tab__nav--desktop .tab__nav__next {
  display: flex;
}
.tab .tab__nav--mobile .tab__nav__next {
  display: none;
}
.tab .tab__nav--overflow {
  display: flex;
  overflow: scroll;
}
@media (min-width: 768px) {
  .tab .tab__nav--overflow {
    overflow: hidden;
  }
}
.tab .tab__nav--overflow > ul {
  padding-left: 50px;
}
@media (min-width: 768px) {
  .tab .tab__nav--overflow > ul {
    padding-right: 50px;
  }
}
.tab .tab__content__pane {
  display: none;
  border: solid #d3d5d7;
  border-width: 0 1px 1px;
}
.tab .tab__content__pane--p20 {
  padding: 20px;
}
.tab .tab__content__pane.active {
  display: block;
}
.tab .click-right {
  display: flex;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 48px;
  height: 53px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
[class*="--disabled"] .tab .tab__nav > ul li:hover {
  color: #d3d5d7;
}
[class*="--disabled"] .tab .tab__nav > ul li:active {
  color: #d3d5d7;
}
[class*="--disabled"] .tab .tab__nav > ul li.active {
  color: #d3d5d7;
  border-color: #d3d5d7;
}
@media (min-width: 768px) {
  .article__group {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d3d5d7;
  }
}
.article__group__item {
  display: flex;
  width: 100%;
}
.article__group__item__img {
  position: relative;
  overflow: hidden;
}
.article__group__item__img > a {
  position: relative;
  display: block;
  width: 100%;
}
.article__group__item__img > a img {
  width: 100%;
  height: auto;
}
.article__group__item__img > a::before,
.article__group__item__img > a > i.icon {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.article__group__item__img > a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MTcxNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzE3MTciIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-size: 100%;
  background-image: -moz-radial-gradient(
    center,
    ellipse farthest-corner,
    rgba(23, 23, 23, 0) 0,
    rgba(23, 23, 23, 0.5) 100%
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse farthest-corner,
    rgba(23, 23, 23, 0) 0,
    rgba(23, 23, 23, 0.5) 100%
  );
  background-image: radial-gradient(
    ellipse farthest-corner at center,
    rgba(23, 23, 23, 0) 0,
    rgba(23, 23, 23, 0.5) 100%
  );
  opacity: 0;
  z-index: 1;
}
.article__group__item__img:hover > a::before {
  opacity: 1;
}
.article__group__item__img .article__function__sns {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -74px;
  width: 100%;
  padding: 15px;
  background-color: rgba(23, 23, 23, 0.75);
  -moz-transition: bottom, 0.3s;
  -o-transition: bottom, 0.3s;
  -webkit-transition: bottom, 0.3s;
  transition: bottom, 0.3s;
  z-index: 1;
}
.article__group__item__img .article__function__sns li {
  position: relative;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .article__group__item__img .article__function__sns li {
    margin-right: 10px;
  }
}
.article__group__item__img:hover .article__function__sns {
  bottom: 0;
}
.article__group__item__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article__group__item__text > * {
  margin-top: 0;
  margin-bottom: 0;
}
.article__group__item__text .h3,
.article__group__item__text h1,
.article__group__item__text h2 {
  width: 100%;
  margin-top: 5px;
}
.article__group__item__text .h3 a,
.article__group__item__text h1 a,
.article__group__item__text h2 a {
  display: block;
  color: #171717;
}
.article__group__item__text .h3 a:hover,
.article__group__item__text h1 a:hover,
.article__group__item__text h2 a:hover {
  color: #d60c18;
}
@media (max-width: 767px) {
  .article__group__item__text .h3,
  .article__group__item__text h1,
  .article__group__item__text h2 {
    font-size: 22px;
  }
}
.article__group__item__text .h3 {
  line-height: 1.35;
}
.article__group__item__text a.h4 {
  display: block;
}
.article__group__item__text a.h4:hover {
  color: #9d0505;
}
.article__group__item__text h5 a {
  display: block;
  color: #939ea7;
}
.article__group__item--video .article__group__item__img > a > i.icon {
  display: inline-block;
  vertical-align: sub;
  content: "\e91d";
  position: absolute;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 3rem;
  font-family: icomoon;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 0 20px rgba(23, 23, 23, 0.25);
  z-index: 5;
}
.article__group__item--aside {
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d3d5d7;
}
.article__group__item--aside .article__group__item__text {
  width: 100%;
  padding: 15px 10px;
}
.article__group__item--main {
  flex-direction: column;
}
@media (max-width: 767px) {
  .article__group__item--main {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d3d5d7;
  }
}
.article__group__item--main .article__group__item__img > a > i.icon {
  bottom: 10px;
  left: 10px;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .article__group__item--main .article__group__item__img > a > i.icon {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
  }
}
.article__group__item--main .article__group__item__img:hover > a > i.icon {
  bottom: 80px;
}
.article__group__item--main .article__group__item__text {
  width: 100%;
  padding: 15px 10px;
}
.article__group__item--main .article__group__item__text p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 767px) {
  .article__group__item--sub {
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d3d5d7;
  }
}
@media (min-width: 768px) {
  .article__group__item--sub {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .article__group__item--sub .article__group__item__img {
    width: 120px;
  }
}
.article__group__item--sub .article__group__item__img > a > i.icon {
  bottom: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  .article__group__item--sub .article__group__item__img > a > i.icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .article__group__item--sub .article__group__item__text {
    width: calc(100% - 120px);
    padding-left: 1rem;
  }
  .article__group__item--sub .article__group__item__text p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .article__group__item--sub .article__group__item__text {
    width: 100%;
    padding: 15px 10px;
  }
  .article__group__item--sub .article__group__item__text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.article__group__item--sub .article__function__sns {
  display: none;
}
.label--radio {
  display: block;
  position: relative;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.label--radio span {
  display: inline-block;
  vertical-align: middle;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.label--radio span.label__radio__txt {
  padding-left: 0.5em;
  font-size: 1rem;
}
.label--radio span.label__radio__helper {
  display: block;
  padding-left: calc(20px + 0.575rem);
  color: #939ea7;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.label--radio span.label__radio__mark {
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #48545d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.label--radio span.label__radio__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #feebec;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.label--radio span.label__radio__mark::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #d60c18;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.label--radio input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
.label--radio input:checked ~ span.label__radio__mark {
  border-color: #d60c18;
}
.label--radio input:checked ~ span.label__radio__mark::after {
  display: block;
}
.label--radio.active input ~ span.label__radio__mark,
.label--radio:hover input ~ span.label__radio__mark {
  border-color: #d60c18;
}
.label--radio.active input:checked ~ span.label__radio__mark::before,
.label--radio:hover input:checked ~ span.label__radio__mark::before {
  width: 36px;
  height: 36px;
  opacity: 1;
}
.label--check {
  display: block;
  position: relative;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.label--check span {
  display: inline-block;
  vertical-align: middle;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.label--check span.label__radio__txt {
  width: calc(100% - 20px - 0.5em);
  padding-left: 0.5em;
  font-size: 1rem;
}
.label--check span.label__radio__helper {
  display: block;
  padding-left: calc(20px + 0.575rem);
  color: #939ea7;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.label--check span.label__radio__mark {
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #48545d;
}
.label--check span.label__radio__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #feebec;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.label--check span.label__radio__mark::after {
  content: "\e929";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  color: #fff;
  font-family: icomoon;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.label--check input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
.label--check input:checked ~ span.label__radio__mark {
  border-color: #d60c18;
  background-color: #d60c18;
}
.label--check input:checked ~ span.label__radio__mark::after {
  display: block;
}
.label--check.active input ~ span.label__radio__mark,
.label--check:hover input ~ span.label__radio__mark {
  border-color: #d60c18;
}
.label--check.active input:checked ~ span.label__radio__mark::before,
.label--check:hover input:checked ~ span.label__radio__mark::before {
  width: 36px;
  height: 36px;
  opacity: 1;
}
.align-label-text {
  padding-left: calc(20px + 0.5em);
}
[class*="--disabled"] .label--radio span.label__radio__helper {
  color: #d3d5d7;
}
[class*="--disabled"] .label--radio span.label__radio__mark {
  border: 2px solid #d3d5d7;
}
[class*="--disabled"] .label--radio span.label__radio__mark::before {
  background: #fff;
}
[class*="--disabled"] .label--radio span.label__radio__mark::after {
  background: #d3d5d7;
}
[class*="--disabled"] .label--radio input {
  cursor: pointer;
}
[class*="--disabled"] .label--radio input:checked ~ span.label__radio__mark {
  border-color: #d3d5d7;
}
[class*="--disabled"] .label--radio.active input ~ span.label__radio__mark,
[class*="--disabled"] .label--radio:hover input ~ span.label__radio__mark {
  border-color: #d3d5d7;
}
[class*="--disabled"] .label--check span.label__radio__helper {
  color: #d3d5d7;
}
[class*="--disabled"] .label--check span.label__radio__mark {
  border: 2px solid #d3d5d7;
}
[class*="--disabled"] .label--check span.label__radio__mark::before {
  background: #fff;
}
[class*="--disabled"] .label--check span.label__radio__mark::after {
  color: #fff;
}
[class*="--disabled"] .label--check input:checked ~ span.label__radio__mark {
  border-color: #d3d5d7;
  background-color: #d3d5d7;
}
[class*="--disabled"] .label--check.active input ~ span.label__radio__mark,
[class*="--disabled"] .label--check:hover input ~ span.label__radio__mark {
  border-color: #d3d5d7;
}
.message p {
  font-size: 1rem;
  line-height: 1.5;
}
.message p + p {
  margin-top: 1em;
}
.message__btn {
  font-size: 0;
}
.message--remark {
  width: 100%;
  background-color: #eee;
}
.message--remark .message__container {
  position: relative;
  max-width: 940px;
  margin: auto;
  padding: 20px;
}
.message--remark .message__txt p a {
  color: #003a9f;
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .message--remark .message__txt p a:hover {
    color: #9d0505;
  }
}
.message--banner {
  width: 100%;
  background-color: #000;
}
.message--banner p {
  font-size: 0.75rem;
  line-height: 1.25;
}
@media (min-width: 1024px) {
  .message--banner p {
    font-size: 0.875rem;
  }
}
.message--banner a.btn,
.message--banner button.btn {
  min-width: 100px;
  font-size: 0.75rem;
}
@media (min-width: 1024px) {
  .message--banner a.btn,
  .message--banner button.btn {
    font-size: 0.875rem;
  }
}
.message--banner .message__container {
  position: relative;
  max-width: 940px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 970px) {
  .message--banner .message__container {
    padding: 30px;
    flex-direction: row;
  }
}
.message--banner .message__txt {
  padding: 0 0 10px;
}
@media (min-width: 970px) {
  .message--banner .message__txt {
    padding: 0 50px 0 0;
  }
}
.message--banner .message__txt p a {
  color: #003a9f;
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .message--banner .message__txt p a:hover {
    color: #9d0505;
  }
}
.message--banner .message__btn {
  display: flex;
}
.message--notification {
  display: table;
  max-width: 500px;
  width: calc(100% - 30px);
  padding: 29px 35px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.25;
  background-color: #48545d;
}
.message--notification .message__container {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message--notification p {
  color: #fff;
}
.message--alert {
  position: absolute;
  left: 50%;
  max-width: 560px;
  width: calc(100% - 30px);
  padding: 30px 24px 24px;
  background-color: #fff;
  z-index: 12;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.message--alert .message__txt {
  padding-bottom: 30px;
}
.message--alert .message__btn {
  text-align: right;
}
.message--dialogs {
  display: none;
  position: absolute;
  left: 50%;
  max-width: 560px;
  width: calc(100% - 30px);
  padding: 30px 24px 24px;
  background-color: #fff;
  z-index: 12;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.message--dialogs .message__container {
  position: relative;
}
.message--dialogs .message__close {
  position: absolute;
  top: -5px;
  right: -10px;
  font-weight: 700;
  padding: 10px;
}
.message--dialogs .message__txt {
  padding-bottom: 30px;
}
.message--dialogs .message__txt h2 {
  padding-right: 50px;
  margin-top: 0;
  margin-bottom: 24px;
}
.message--dialogs .message__btn {
  text-align: right;
}
.board {
  position: relative;
  padding: 25px;
  z-index: 1;
}
.board::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.4);
  z-index: -1;
}
header .container-fluid > .flex {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
header ul.member__list {
  position: relative;
  padding-left: 0.5rem;
}
@media (min-width: 414px) {
  header ul.member__list {
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  header ul.member__list--desktop {
    display: none;
  }
}
header ul.member__list + .member__list {
  margin-left: 1rem;
}
header ul.member__list + .member__list::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #d3d5d7;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  header ul.member__list + .member__list::before {
    display: none;
  }
}
@media (max-width: 350px) {
  header ul.member__list li.login {
    display: none;
  }
}
header ul.member__list a {
  display: block;
  padding: 0 0.5rem;
  color: #171717;
}
@media (min-width: 414px) {
  header ul.member__list a {
    padding: 0 1rem;
  }
}
header ul.member__list a:hover {
  color: #d60c18;
}
main {
  justify-content: space-between;
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 0.8125rem;
  background-color: #eee;
}
@media (min-width: 768px) {
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  footer > .container > .flex {
    flex-direction: column;
  }
}
footer a {
  color: #171717;
}
footer a:hover {
  color: #d60c18;
}
@media (min-width: 768px) {
  footer .copyright {
    width: calc(100% - 460px);
  }
}
@media (max-width: 767px) {
  footer .copyright {
    order: 2;
  }
}
footer .copyright__cwlink {
  margin-bottom: 1.5em;
  margin-right: -275px;
}
@media (max-width: 767px) {
  footer .copyright__cwlink {
    display: none;
  }
}
footer .copyright__cwlink li {
  padding: 0 1em;
  line-height: 1;
  border-left: 1px solid #171717;
}
footer .copyright__cwlink li:first-child {
  padding-left: 0;
  border-left: 0;
}
footer .copyright__contact span {
  display: block;
  padding-right: 1em;
}
@media (min-width: 768px) {
  footer .copyright__contact span {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  footer .copyright__contact span:nth-child(4) {
    margin-top: 1em;
  }
}
footer .imglink {
  align-items: flex-end;
}
@media (min-width: 768px) {
  footer .imglink {
    width: 410px;
  }
}
@media (max-width: 767px) {
  footer .imglink {
    order: 1;
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .imglink__sns {
  font-size: 30px;
}
footer .imglink__sns li {
  margin-left: 0.33333em;
  line-height: 1;
}
footer .imglink__sns li:first-child {
  margin-left: 0;
}
footer .imglink__sns li a {
  text-decoration: none;
}
@media (min-width: 768px) {
  footer .imglink__app {
    margin-left: 1em;
  }
}
@media (max-width: 767px) {
  footer .imglink__app {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
footer .imglink__app__title {
  margin-bottom: 0.5em;
}
@media (min-width: 768px) {
  footer .imglink__app__title {
    margin-bottom: 0.75em;
    text-align: center;
  }
}
footer .imglink__app__img li + li {
  margin-left: 0.5em;
}
.ad {
  background-color: #fff;
}
.ad a {
  display: block;
  width: 100%;
}
.ad img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1024px) {
  .index__page .container {
    width: 1000px;
  }
}
@media (min-width: 1280px) {
  .index__page .container {
    width: 1140px;
  }
}
@media (min-width: 1366px) {
  .index__page .container {
    width: 1280px;
  }
}
p {
  font-size: 1em;
}
p.emphasis {
  color: #939ea7;
}
p.emphasis a {
  color: #939ea7;
}
p.emphasis a:hover {
  color: #48545d;
}
p.emphasis--small {
  font-size: 0.875em;
}
hr {
  margin-top: 2em;
  margin-bottom: 1em;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #eee;
}
.link-btn {
  color: #003a9f;
  text-decoration: underline;
  cursor: pointer;
}
.link-btn:hover {
  color: #d60c18;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.loader::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.5);
}
.loader__text {
  color: #fff;
  font-size: 0.75em;
  font-weight: 500;
}
.loader__animate {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
}
.loader__icon::after,
.loader__icon::before {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.loader__icon::before {
  background: linear-gradient(90deg, #003a9f, #003186);
  animation: rotation1 1s linear infinite;
}
.loader__icon::after {
  background: linear-gradient(90deg, #d60c18, #9d0505);
  animation: rotation2 1s linear infinite;
}
.separation {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.separation > * {
  position: relative;
}
.separation--or::before {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #d3d5d7;
}
.separation--or span {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #fff;
}
@keyframes rotation1 {
  from {
    left: 5px;
    z-index: 1;
  }
  to {
    left: 25px;
  }
}
@keyframes rotation2 {
  from {
    right: 5px;
  }
  to {
    right: 25px;
  }
}
.bd_l {
  border-left: 3px #414cdb solid;
  padding-left: 8px;
}
/* 0713修改 */
.bg_gary {
  /* background-color: #ededed; */
}
